{% trans_default_domain 'FOSUserBundle' %}

<div class="container" style="margin-top:6em">
	<div class="col-md-6 col-md-offset-3 well well-lg">
		<div class="row text-center">
			<b><h3 id="connexion_title">Connectez-vous</h3></b>
			<hr>
		</div>
 		{# <div class="row">
  			<div class="text-center">
				<form action="{{ path("fos_user_security_check") }}" method="post">
				    {% if csrf_token %}
				        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				    {% endif %}
				 	<div class="control-group form-group">
						<div class="controls text-left">
						    <label for="username">{{ 'security.login.username'|trans }}</label>
						    <input class="form-control" style="margin-bottom:15px;" placeholder="Nom d'utilisateur" type="text" id="username" name="_username" value="{{ last_username }}" required="required" data-validation-required-message="Veuillez entrer votre nom d'utilisateur." />
							<p class="help-block text-danger"></p>
						</div>
						<div class="controls text-left">
					     	<label for="password">{{ 'security.login.password'|trans }}</label>
					     	<input class="form-control" style="margin-bottom:15px;" placeholder="Mot de passe" type="password" id="password" name="_password" required="required" data-validation-required-message="Veuillez entrer votre mot de passe" />
						 	<p class="help-block text-danger"></p>
						</div>
						
						<div class="controls">
					     <input class="form-control" type="checkbox" id="remember_me" name="_remember_me" value="on" />
					     <label for="remember_me" style="margin-bottom:15px;">{{ 'security.login.remember_me'|trans }}</label>
						</div>
						
				    	<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
						<p style="margin-top:15px;"> Vous n'avez pas encore de compte ? <a href="{{url('fos_user_registration_register')}}">Créer votre compte</a></p>
				 	</div>	
				</form>
				{% if error %}
    				<div class="alert alert-danger alert-dismissible fade in" role="alert">
	 					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	 					<strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
					</div>
				{% endif %}
   			</div>
  		</div> #}
  		<div class="row text-center" id="account-btn">
			<div class="col-xs-12">
				<a href="" class="fb-button btn btn-block" id="fb-login" style="background: #4267b2;color: white">
					<i class="fa fa-facebook-official"></i>
					Connexion avec Facebook
				</a>
			</div>
			<div class="divider col-xs-12" style="margin-top:1em; margin-bottom:1em">
				<div class="col-md-4"></div>
				<div class="col-md-4"><span class="btn btn-secondary">OU</span></div>
				<div class="col-md-4"></div>
			</div>
			<div class="col-xs-12" style="margin-bottom:15px">
				<div id="gSignInWrapper">
				    <div id="customBtn" class="customGPlusSignIn">
				      	<span class="btn btn-block" style="background: #DD4B39;color: white">
				      		<i class="fa fa-google"></i>
				      		Connexion avec Google
				      	</span>
				    </div>
				</div>
			</div>
		</div>
		<div class="row text-center hide" id="loading" style="margin-top:5em;margin-bottom:5em"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
 	</div>
</div>
