{% extends 'AppBundle::layout.html.twig' %}
{% block title %} | Ajouter une définition{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
{% endblock %}
{% block container %}
	<div class="container">
		<div class="row">
			<div id="content" class="col-xs-8 col-xs-offset-2">
				<h3 class="text-center"><b>Ajouter votre définition</b></h3>
				<hr/>
				{{ form_start(form) }}
				{{ form_errors(form) }}
				 <div class="control-group">
			      <div class="controls">
				   <label>Mot:</label>
				   {{ form_widget(form.word) }}
				  </div>
				 </div>
				 <div class="control-group">
			      <div class="controls" style="margin-bottom:20px;">
				   <label>Definition:</label>
				   {{ form_widget(form.definition) }}
				  </div>
				 </div>
				 <div class="control-group">
			      <div class="controls" style="margin-bottom:20px;">
				   <label>Exemple:</label>
				   {{ form_widget(form.example) }}
				  </div>
				 </div>
				{{ form_widget(form.ajouter) }}
				{{ form_end(form) }}
							
			 </div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent()}}
	<script src="{{ asset('libs/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('libs/ckeditor/adapters/jquery.js') }}"></script>
    <script> 
    	$( 'textarea' ).ckeditor();
    </script>
{% endblock %}